.DS_Store
*.~

**/*.toolbox/*SnapShot_*.launch
**/*.toolbox/*.pmap
**/*.toolbox/**/*.tla
**/*.toolbox/**/*.cfg
**/*.toolbox/**/*.out
**/*.toolbox/**/*.st
**/*.toolbox/**/*.fp
**/*.toolbox/*_SnapShot_*/
**/*.toolbox/**/*.aux
**/*.toolbox/**/*.log
**/*.pdf
**/*.toolbox/**/*.tex
