<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="TLCCmdLineParameters" value="-dump states.txt"/>
    <stringAttribute key="alias" value=""/>
    <intAttribute key="collectCoverage" value="1"/>
    <stringAttribute key="configurationName" value="Model_1"/>
    <booleanAttribute key="deferLiveness" value="false"/>
    <intAttribute key="dfidDepth" value="100"/>
    <booleanAttribute key="dfidMode" value="false"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="192.168.1.116"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <stringAttribute key="distributedTLCVMArgs" value=""/>
    <intAttribute key="fpBits" value="1"/>
    <intAttribute key="fpIndex" value="87"/>
    <booleanAttribute key="fpIndexRandom" value="true"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <intAttribute key="maxSetSize" value="1000000"/>
    <booleanAttribute key="mcMode" value="true"/>
    <stringAttribute key="modelBehaviorInit" value="VCInit"/>
    <stringAttribute key="modelBehaviorNext" value="VCNext"/>
    <stringAttribute key="modelBehaviorSpec" value=""/>
    <intAttribute key="modelBehaviorSpecType" value="2"/>
    <stringAttribute key="modelBehaviorVars" value="systemActive, messages, vcState"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="true"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1VCSpec"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="12"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="Nodes;;{c1, c2, c3, c4, c5};1;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="8"/>
    <stringAttribute key="postCondition" value=""/>
    <booleanAttribute key="recover" value="false"/>
    <stringAttribute key="result.mail.address" value=""/>
    <intAttribute key="simuAril" value="-1"/>
    <intAttribute key="simuDepth" value="100"/>
    <stringAttribute key="simuNumTraces" value="9223372036854775807"/>
    <intAttribute key="simuSeed" value="-1"/>
    <stringAttribute key="specName" value="vector_clock"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
    <stringAttribute key="view" value=""/>
    <booleanAttribute key="visualizeStateGraph" value="false"/>
</launchConfiguration>
